/*Barra de navegacion*/
.navPrincipal {
    background: rgb(2, 0, 36);
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(116, 120, 21, 1) 0%, rgba(114, 121, 24, 0.29877381887495147) 0%, rgba(68, 217, 36, 0.8546744399929639) 0%, rgba(147, 242, 83, 0.525481893409113) 0%, rgba(0, 212, 255, 1) 100%);
    border-radius: 5px;
}

.cursor a:hover {
    background-color: #21d6e7;
    color: #f0f0f0;
}

/*Main*/
body {
    background: rgb(2, 0, 36);
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(116, 120, 21, 1) 0%, rgba(114, 121, 24, 0.29877381887495147) 0%, rgba(68, 217, 36, 0.8546744399929639) 0%, rgba(147, 242, 83, 0.525481893409113) 0%, rgba(0, 212, 255, 1) 100%);
    font-family: "Lexend Deca", sans-serif;
}

.divPrincipal {
    display: flex;
    flex-wrap: wrap;
}

main {
    flex-basis: 75%;
}

@media (max-width:800px) {
    main {
        background-position: center;
        text-align: center;
        flex-basis: unset;
    }
}


.divCentral {
    display: flex;
    justify-content: center;
    position: relative;
    align-items: center;
    width: 100%;

}

.intro {
    text-align: center;
    position: absolute;
    color: #ecfffd;
    font-size: large;
    background-color: rgba(0, 0, 0, 0.2);
    padding: 20px;
    bottom: 10px;
}

.imgCentral {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.subtituloPrincipal {
    font-style: italic;
    padding: 5%;
    margin: auto;
    text-align: center;
}

h4,
h3 {
    font-weight: 400;
    text-align: center;

}

iframe {
    width: 600px;
    height: 60vh;
    display: block;
    margin: auto;
    padding: 30px;
}

.ejimagenes {
    display: flex;
    height: 200px;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding: 10px;
}

/* aside */
aside {
    flex-basis: 25%;
    background-color: #079636;
    background-image: url(../img/51611da0a9fbd4c76a2a4d1759dbacda.jpg);
    background-repeat: repeat;
}

@media (max-width:800px) {
    aside {
        background-position: center;
        flex-direction: column;
        flex-basis: unset;
    }
}

.asidetitulo {
    color: #D9FDC8;
    font-size: 2.5rem;
    font-weight: 600;
    background-color: rgba(0, 0, 0, 0.3)
}

aside h5 {
    text-align: center;
    color: #D9FDC8;
    margin: 10px;
}

aside p {
    text-align: center;
    font-style: italic;
    color: #D9FDC8;
    margin: 10px;
}

.asideimg img {
    display: block;
    width: 60%;
    margin: 0 auto;
    transition: 0.4s all ease-in-out;
}

.asideimg:hover img {
    transform: scale(1.25);
}

@media (max-width:800px) {
    .asideimg img {
        width: 75%;
        height: auto;
    }
}

article {
    background-color: rgba(0, 0, 0, 0.4);
}

/* footer*/
footer {
    background-color: #14540ad8;
    color: azure;
    text-align: center;
    font-size: 1.2rem;
    padding: 5px;
}

.footer {
    margin: 5px;
}

/*pagina B*/
.compostImg {
    display: flex;
    justify-content: center;
    height: 400px;
    align-items: center;
    margin: auto;
    padding: 10px;
}

/* pagina niños */

.niñosImg {
    display: flex;
    width: 40%;
    height: 35%;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding: 30px;
}

.conclusion {
    text-align: center;
}

/* unase */



.alineacion {
    text-align: center;
}


.formulario {
    padding: 30px;
    background-color: #2dd8ab;
    background-image: url(../img/save.jpg);
    background-repeat: repeat;
    border: 8px outset #8fb339;
    text-align: center;
}

legend {
    font-weight: 700;
}

label {
    color: whitesmoke;
    font-weight: 700;
    background-color: #97cc03;
    padding: 5px;
    border-radius: 5px;
}

fieldset {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
    margin: auto;
    width: fit-content;
    border: 15px double #97cc03;

}

.grupo {
    display: flex;
    flex-direction: column;
}

#ultimacolumna {
    grid-area: 4 / 2 / 4 / 3;
}

#materiales {
    grid-area: 3 / 2 / 3 / 3;
}

/*tienda*/

.tienda {
    flex: 1;
    padding: 2em;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 1em;
}

@media (max-width:800px) {
    .tienda {
        width: 90%;
        height: auto;
    }
}

.producto {
    background: rgba(12, 199, 137, 0.202);
    border: 1px solid #ddd;
    padding: 1em;
    text-align: center;
}

.producto img {
    max-width: 100%;
    height: auto;
}
@media (max-width:800px) {
    .producto img {
        width: 90%;
        height: auto;
    }
}

.productoTitulo {
    font-size: 1.2em;
    margin: 0.5em 0;
    background-color: rgb(255, 250, 185);
}

.precio {
    color: #444;
    background-color: #ecfffd;
}